@page "/product/{id:int}"
@inject IProductService ProductService
@if (_product == null)
{
    <span>@_message</span>
}
else
{
    <div class="media my-3">
        <div class="media-img-wrapper mr-2">
            <img class="media-img" src="@_product.ImageUrl" alt="@_product.Title" />
        </div>
        <div class="media-body">
            <h2 class="mb-0">@_product.Title</h2>
            <p>@_product.Description</p>
            <h4 class="price">￥@_product.Price</h4>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    
    private Product? _product;
    private string _message = "Loading Product...";

    protected override async Task OnParametersSetAsync()
    {
        var result =await ProductService.GetProductAsync(Id);
        if (!result.Success)
        {
            _message = result.Message;
        }
        else
        {
            _product = result.Data;
        }
    }
}
