@page "/"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject OrderState OrderState;
@inject IJSRuntime JsRuntime

@*应用的新标头导航,active*@
@*<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <NavLink href="myorders" class="nav-tab">
        <img src="img/bike.svg" />
        <div>My Orders</div>
    </NavLink>
</div>*@


<div class="main">
    @*<h1>Blazing Pizzas</h1>*@
    <ul class="pizza-cards">
        @if (specials != null)
        {
            @foreach (var special in specials)
            {
                @*onclick,当客户选择披萨时，服务器将执行 ShowConfigurePizzaDialog 方法*@
                <li @onclick="@(() => OrderState.ShowConfigurePizzaDialog(special))" style="background-image: url('@special.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@special.Name</span>
                        @special.Description
                        <span class="price">@special.GetFormattedBasePrice()</span>
                    </div>
                </li>

            }
        }
    </ul>
</div>

@if (OrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="OrderState.ConfiguringPizza"
                      OnCancel="OrderState.CancelConfigurePizzaDialog"
                      OnConfirm="OrderState.ConfirmConfigurePizzaDialog" />
}

@*添加一个边栏，用于显示客户已添加到订单的所有披萨。*@
<div class="sidebar">
    @if (order.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your order</h2>

            @foreach (var configuredPizza in order.Pizzas)
            {
                <div class="cart-item">
                    @*<a @onclick="@(() => OrderState.RemoveConfiguredPizza(configuredPizza))" class="delete-item">x</a>*@
                    <a @onclick="@(async () => await ShowConfirm(configuredPizza))" class="delete-item">x</a>
                    <div class="title">@(configuredPizza.Size)" @configuredPizza.Special.Name</div>
                    <div class="item-price">
                        @configuredPizza.GetFormattedTotalPrice()
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="empty-cart">Choose a pizza<br>to get started</div>
    }

    <div class="order-total @(order.Pizzas.Any() ? "" : "hidden")">
        Total:
        <span class="total-price">@order.GetFormattedTotalPrice()</span>
        @*跳转至结算界面*@
        <a href="checkout" class="@(OrderState.Order.Pizzas.Count == 0 ? "btn btn-warning disabled" : "btn btn-warning")">
            Order >
        </a>
    </div>
</div>




@code {
    List<PizzaSpecial> specials = new();
    //Pizza configuringPizza;
    //bool showingConfigureDialog;
    Order order => OrderState.Order;


    //Http请求获取Json数据，并序列化为List<PizzaSpecial>
    protected override async Task OnInitializedAsync()
    {
        specials = await HttpClient.GetFromJsonAsync<List<PizzaSpecial>>(NavigationManager.BaseUri + "specials");
    }
    //调用 JavaScript confirm 函数。 如果客户选择“确定”，则调用 RemoveConfiguredPizza。
    private async Task ShowConfirm(Pizza removePizza)
    {
        /*//JsRuntime服务器使用 InvokeAsync 方法在客户端调用 confirm 函数。
        //显示一个标准的 JavaScript 确认对话框，选择“取消”或“确定”。
        if (await JsRuntime.InvokeAsync<bool>(
            "confirm", $"Do you want to remove the {removePizza.Special.Name} from your order?")) {
                OrderState.RemoveConfiguredPizza(removePizza);
            }*/

        //更新的主要内容在于函数如何接收参数。
        //SweetAlert 可以接受一个包含它需要的所有设置的 JSON 对象。
        //confirm 对话框现在有两个按钮，分别表示“保留我的订单”和“删除披萨”。
        var messageParams = new
        {
            title = "Are you sure?",
            text = $"Do you want to remove the {removePizza.Special.Name}from your order?",
            icon = "warning",
            buttons = new
            {
                abort = new
                {
                    text = "Leave it in my order",
                    value = false
                },
                confirm = new
                {
                    text = "Remove pizza",
                    value = true
                }
            },
            dangerMode = true
        };

        if (await JsRuntime.InvokeAsync<bool>("swal", messageParams))
        {
            OrderState.RemoveConfiguredPizza(removePizza);
        }

    }




    /*//订单状态业务逻辑的方法转移到OrderState类中
    //该方法使用特价披萨数据创建披萨，并将 showingConfigureDialog 变量设置为 true。
    void ShowConfigurePizzaDialog(PizzaSpecial special)
        {
        configuringPizza = new Pizza()
                {
                Special = special,
                SpecialId = special.Id,
                Size = Pizza.DefaultSize
        };
        showingConfigureDialog = true;
    }*/


    /*//硬编码
    protected override void OnInitialized()
        {
        specials.AddRange(new List<PizzaSpecial>
            {
            new PizzaSpecial { Name = "The Baconatorizor", BasePrice =  11.99M, Description = "It has EVERY kind of bacon", ImageUrl="img/pizzas/bacon.jpg"},
            new PizzaSpecial { Name = "Buffalo chicken", BasePrice =  12.75M, Description = "Spicy chicken, hot sauce, and blue cheese, guaranteed to warm you up", ImageUrl="img/pizzas/meaty.jpg"},
            new PizzaSpecial { Name = "Veggie Delight", BasePrice =  11.5M, Description = "It's like salad, but on a pizza", ImageUrl="img/pizzas/salad.jpg"},
            new PizzaSpecial { Name = "Margherita", BasePrice =  9.99M, Description = "Traditional Italian pizza with tomatoes and basil", ImageUrl="img/pizzas/margherita.jpg"},
            new PizzaSpecial { Name = "Basic Cheese Pizza", BasePrice =  11.99M, Description = "It's cheesy and delicious. Why wouldn't you want one?", ImageUrl="img/pizzas/cheese.jpg"},
            new PizzaSpecial { Name = "Classic pepperoni", BasePrice =  10.5M, Description = "It's the pizza you grew up with, but Blazing hot!", ImageUrl="img/pizzas/pepperoni.jpg" }
                    });
    }*/

}